<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true" 
	  internalLogFile="C:\temp\log\internal-nlog-AspNetCore.txt"
	  internalLogLevel="None">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/> 
		<add assembly="NLog.Web.AspNetCore.Targets.Gelf" /> <!-- GRAYLOG -->
		<add assembly="NLog.Database" /> <!-- DATABASE -->
	</extensions>

	<variable name="applicationName" value="Graylog.API" />
	<variable name="logFilePath" value=".\@Logs\${level}Log.txt" />
	<variable name="archiveLogFilePath"
            value=".\@Logs\Archive\${shortdate}\${level}LogArchive_{#####}.txt" />
	<variable name="seperator" value="********************************" />

	<targets async="false">
		
	
			<!-- Info File -->	
				<target 
					xsi:type="File"
					name="InfoFile" 
					archiveEvery="Day" 
					maxArchiveFiles="512" 
					archiveAboveSize="2097152"
					fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
					layout="${longdate} ${level:upperCase=true}: ${ndlc}${message} ${exception:format=ToString}${newline}${seperator}"
					concurrentWrites="false" />
		
			<!-- Warm File -->
				<target
					xsi:type="File"
					name="WarnFile" 
					archiveEvery="Day" 
					maxArchiveFiles="512" 
					archiveAboveSize="2097152"
					fileName="${logFilePath}" 
					archiveFileName="${archiveLogFilePath}"
					layout="${longdate} ${level:upperCase=true}: ${ndlc}${newline}${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
					concurrentWrites="false" />
		
			<!-- Error File -->
				<target 
					xsi:type="File"
					name="ErrorFile" 
					archiveEvery="Day" 
					maxArchiveFiles="512" 
					archiveAboveSize="2097152"
					fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
					layout="${longdate} ${level:upperCase=true}: ${ndlc}${newline}${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
					concurrentWrites="false" />
		
			<!-- Fatal-Critical File -->
				<target
					xsi:type="File"
					name="FatalFile"  
					archiveEvery="Day" 
					maxArchiveFiles="512" 
					archiveAboveSize="2097152"
					fileName="${logFilePath}" 
					archiveFileName="${archiveLogFilePath}"
					layout="${longdate} ${level:upperCase=true}: ${ndlc}${newline}${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
					concurrentWrites="false" />


		<!-- CONSOLE -->
		<target 
			xsi:type="Console"
			 name="Console" />


		<!-- DATABASE -->
		<target
			xsi:type="Database" 
			name="Database" >
			<dbprovider>mssql</dbprovider>
			<connectionstring>server=0.0.0.0;database=DB_NAME;user=username;password=password;connection timeout=30;TrustServerCertificate=True;</connectionstring>
			<commandText>
				insert into dbo.GET_CONFIG_LOGS(CREATED_DATE,LEVEL,LOGGER,MESSAGE) 
									values(@time_stamp, @level, @logger, @message);
			</commandText>
			<parameter name="@time_stamp" layout="${shortdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
		</target>

		<!-- GRAYLOG -->
		<target
			xsi:type="Gelf"
			name="Graylog"  
			endpoint="udp://localhost:12201" 
			facility="${applicationName}" gelfVersion="1.1" SendLastFormatParameter="true"  >
			<parameter name="tags" layout="RdGetConfigTag" />
			<parameter name="ndlc" layout="${ndlc}" />
		</target>
	
		<!-- EMAIL   -->
		<!--<target 
			xsi:type="Mail"
            name="ErrMail"
            layout="${longdate} ${level:upperCase=true}: ${ndlc}${newline}${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
            subject="Get Config Error"
            to="yilmaz.olmez@euromsg.com"
            from="mail@maik.com"
            smtpServer="0.0.0.0"
            smtpPort="2025" />-->
		
		
	</targets>

	<rules>
		<logger 
			name="*" 
			minlevel="Warn" 
			appendTo="Database" />

		<logger name="*" levels="Info"	writeTo="Console,InfoFile,Graylog" />
		<logger name="*" levels="Warn" writeTo="Console,WarnFile,Graylog" />
		<logger name="*" levels="Error" writeTo="Console,ErrorFile,Graylog" />
		<logger name="*" levels="Fatal" writeTo="Console,FatalFile,Graylog" />

	</rules>

</nlog>



<!--

##  Graylog Loglevel Mapping  ##

Debug   : 7
Info    : 6
Trace   : 6
Warn    : 4
Error   : 3
Fatal   : 2

-->